body {
            margin: 0;
            padding: 0;
			/* overflow-x: hidden; */
        }

/* PC size*/
@media screen and (min-width:768px) {
	.banner {
	    position: absolute;
	    top: 0;
	    width: 100%;
	    height: 90px;
		background: linear-gradient(to right,#e66465, #9198e5) ;
	    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
	}
	.banner img{
	    float: left;
	    width: 80px;
	    padding-top: 5px;
	    margin: 0 5px;
	}
	.banner p {
		color: rgba(255,255,255,0.7);
		font-size: 1.8rem;
		font-family: "STXingkai";
	    line-height: 100%;
	}
	#weather{
		position: absolute;
		right: 0;
		top: 35px;
		overflow: hidden;
		/* margin-right: -200px; */
	}
	.foot {
	    position: fixed;
	    bottom: 0;
	    width:100%;
		background: rgba(255,255,255,0.3);
	    text-align: center;
	}
	.foot a{
		color: #000000;
	}
	#gallery{
		height:720px;
		overflow: hidden;
		width: 100%;
		margin: 0;
		margin-top: 90px;
		padding: 0;
		position: relative;
	}
	#gallery img{
		height: 720px;
		width: 100%;
		
	}
	.galleryimg{
		opacity: 0;
		margin: 0;
		padding: 0;
		position:absolute;
	}
	.active{
		opacity: 1;
		transition:ease-in 1s; 
	}
	.pre,.after{
		top: 450px;
		width: 50px;
		height: 50px;
		margin-top: -25px;
		background:rgba(255,255,255,0.6);
		text-align: center;
		position: absolute;
	}
	.pre:hover,.after:hover{
		background: rgba(255,255,255,0.5);
	}
	.after{
		right: 0;
	}
	.pre img,.after img{
		display: inline-block;
		height: 50px;
		
	}
	.main{
		min-height:1280px;
		background:  linear-gradient(to right,#e66465, #9198e5);
	}
	.content{
		padding: 15px 0;
		
	}
	.box {
		display: inline-block;
	    width: 15vw;
	    height: 15vw;
	    background-color: brown;
		overflow: hidden;
	    margin-left: 8vw;
		margin-top: 15px;
		border: #FFF solid 0px;
		border-radius: 50%;
		box-shadow: #000000 0px 0px 5px; 
		position: relative;
	}
	.void {
	    width: 100%;
	    height:1px;
	    margin-top: -16px;
	}
	.box p {
		opacity:0;
		text-align: center;
		font-size: 1.8rem;
		font-family:"youyuan";
		height: 50%;
		width: 100%;
		margin-bottom: 0px;
		bottom: 0;
		background: rgba(255,255,255,0.6);
	    position:absolute;
	}
	.box p:hover{
		opacity: 1;
	}
	.box img{
		width: 100%;
		border: #FFF solid 1px;
		border-radius: 50%;
		position: absolute;
	}
	.box a,.box a:link,.box a:active,.box a:visited{
		color: #000;
		font-size: 1.2rem;
	}
	.tips{
		height:25px;
		line-height: 25px;
		width: 100%;
		color: #FFF;
		font-family: "youyuan";
		background: linear-gradient(to right,#e66465, #9198e5);
		box-shadow: #000000 0px 0px 5px; 
	}
	.tips p{
		margin-left: 15px;
	}
	#contact{
		width: 100%;
		padding: 0 0px 30px;
		text-align: center;
	}
	#contact table{
		margin-top: 30px;
	}
	#contact p{
		display: inline-block;
		margin: 0 20px;
		font-size: 20px;
		color: #FFF;
	}
	#contact img{
		width: 100px;
		height: 100px; 
	}

}
/* taplap size*/
@media screen and (min-width:426px) and (max-width:768px){
	.banner {
	    position: absolute;
	    top: 0;
	    width: 100%;
	    height: 90px;
	    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
	}
	.banner img{
	    float: left;
	    width: 80px;
	    padding-top: 5px;
	    margin: 0 5px;
	}
	.banner p {
		color: #369;
		font-size: 1.8rem;
		font-family: "STXingkai";
	    line-height: 100%;
	}
	#weather{
		position: absolute;
		right: 0;
		top: 35px;
	}
	.foot {
	    position: fixed;
	    bottom: 0;
	    width:100%;
		background: rgba(255,255,255,0.3);
	    text-align: center;
	}
	.foot a{
		color: #000000;
	}
	#gallery{
		height:720px;
		overflow: hidden;
		width: 100%;
		margin: 0;
		margin-top: 90px;
		padding: 0;
		position: relative;
	}
	#gallery img{
		width: 100%;
		height: 720px;
		
	}
	.galleryimg{
		opacity: 0;
		margin: 0;
		padding: 0;
		position:absolute;
	}
	.active{
		opacity: 1;
		transition:ease-in 1s; 
	}
	.pre,.after{
		top: 450px;
		width: 50px;
		height: 50px;
		margin-top: -25px;
		background:rgba(255,255,255,0.6);
		text-align: center;
		position: absolute;
	}
	.pre:hover,.after:hover{
		background: rgba(255,255,255,0.5);
	}
	.after{
		right: 0;
	}
	.pre img,.after img{
		display: inline-block;
		height: 50px;
		
	}
	.main{
		/* 修改高度来使背景变长 */
		min-height:980px;
		background:  linear-gradient(to right,#e66465, #9198e5);
	}
	.content{
		padding: 15px 0;
	}
	.box {
		display: inline-block;
	    width: 15vw;
	    height: 15vw;
	    background-color: brown;
		overflow: hidden;
	    margin-left: 8vw;
		border: #FFF solid 0px;
		border-radius: 50%;
		box-shadow: #000000 0px 0px 5px; 
		position: relative;
	}
	.void {
	    width: 100%;
	    height:1px;
	    margin-top: -16px;
	}
	.box p {
		opacity: 1;
		text-align: center;
		font-size: 1.2rem;
		font-family:"youyuan";
		height: 50%;
		width: 100%;
		margin-bottom: 0px;
		bottom: 0;
		background: rgba(255,255,255,0.6);
	    position:absolute;
	}
	.box p:hover{
		opacity: 1;
		background: rgba(255,255,255,0.3);
	}
	.box img{
		width: 100%;
		border: #FFF solid 1px;
		border-radius: 50%;
		position: absolute;
	}
	.box a,.box a:link,.box a:active,.box a:visited{
		color: #000;
		font-size: 1.2rem;
	}
	.tips{
		height:25px;
		line-height: 25px;
		width: 100%;
		color: #FFF;
		font-family: "youyuan";
		background: linear-gradient(to right,#e66465, #9198e5);
		box-shadow: #000000 0px 0px 5px; 
	}
	.tips p{
		margin-left: 15px;
	}
	#contact{
		width: 100%;
		padding: 0 0px 30px;
		text-align: center;
	}
	#contact table{
		margin-top: 30px;
	}
	#contact p{
		display: inline-block;
		margin: 0 20px;
		font-size: 20px;
		color: #FFF;
	}
	#contact img{
		width: 100px;
		height: 100px; 
	}
} 
/* phone size*/
@media screen and (max-width:426px){
	.banner {
	    position: absolute;
	    top: 0;
	    width: 100%;
	    height: 40px;
	    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
	}
	.banner img{
	    float: left;
	    width: 30px;
	    padding-top: 5px;
	    margin: 0 5px;
	}
	.banner p {
		color: #369;
		font-size: 0.9rem;
		font-family: "STXingkai";
	    line-height: 100%;
	}
	#weather{
		position: absolute;
		right: 0;
		top: 255px;
	}
	.foot {
	    position: fixed;
	    bottom: 0;
	    width:100%;
		font-size: 12px;
		background: rgba(255,255,255,0.3);
	    text-align: center;
	}
	.foot a{
		color: #000000;
	}
	#gallery{
		height:210px;
		overflow: hidden;
		width: 100%;
		margin: 0;
		margin-top: 40px;
		padding: 0;
		position: relative;
		background: #000;
	}
	#gallery img{
		width: 100%;
		
	}
	.galleryimg{
		opacity: 0;
		margin: 0;
		padding: 0;
		position:absolute;
	}
	.active{
		opacity: 1;
		transition:ease-in 1s; 
	}
	.pre,.after{
		top: 150px;
		width: 30px;
		height: 30px;
		margin-top: -25px;
		background:rgba(255,255,255,0.6);
		text-align: center;
		position: absolute;
	}
	.pre:hover,.after:hover{
		background: rgba(255,255,255,0.5);
	}
	.after{
		right: 0;
	}
	.pre img,.after img{
		display: inline-block;
		height: 30px;
		
	}
	.main{
		min-height:720px;
		background:  linear-gradient(to right,#e66465, #9198e5);
	}
	.content{
		padding: 15px 0;
		
	}
	.box {
		display: inline-block;
	    width: 15vw;
	    height: 15vw;
	    background-color: brown;
		overflow: hidden;
	    margin-left: 8vw;
		border: #FFF solid 0px;
		border-radius: 50%;
		box-shadow: #000000 0px 0px 5px; 
		position: relative;
	}
	.void {
	    width: 100%;
	    height:1px;
	    margin-top: -16px;
	}
	.box p {
		opacity: 1;
		text-align: center;
		font-size: 0.7rem;
		font-family:"youyuan";
		height: 50%;
		width: 100%;
		margin-bottom: 0px;
		bottom: 0;
		background: rgba(255,255,255,0.6);
	    position:absolute;
	}
	.box p:hover{
		opacity: 1;
		background: rgba(255,255,255,0.3);
	}
	.box img{
		width: 100%;
		border: #FFF solid 1px;
		border-radius: 50%;
		position: absolute;
	}
	.box a,.box a:link,.box a:active,.box a:visited{
		color: #000;
		font-size: 1.2rem;
	}
	.tips{
		height:25px;
		line-height: 25px;
		width: 100%;
		color: #FFF;
		font-family: "youyuan";
		background: linear-gradient(to right,#e66465, #9198e5);
		box-shadow: #000000 0px 0px 5px; 
	}
	.tips p{
		margin-left: 15px;
	}
	#contact{
		width: 100%;
		padding: 0 0px 30px;
		text-align: center;
	}
	#contact table{
		margin-top: 30px;
	}
	#contact p{
		display: inline-block;
		margin: 0 20px;
		font-size: 12px;
		color: #FFF;
	}
	#contact img{
		width: 100px;
		height: 100px; 
	}
}